
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Feel free to reach out!</p>
      </div>

      <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>Clark County, Nevada</p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>mjacquot.dev@gmail.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1654312.9485156748!2d-116.28913531354517!3d35.92054235887508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80b8d6496837aa1d%3A0x3317d403aa5236f8!2sClark%20County%2C%20NV!5e0!3m2!1sen!2sus!4v1699443577916!5m2!1sen!2sus" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
          </div>
        </div>

        <div class="col-lg-7 d-flex align-items-stretch">
          <form action="{% url 'resume:resume_main_page' %}" method="post" class="personal_email_bg">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-6 mb-3">
                <label for="message-name" class="form-label">Your Name</label>
                <input type="text" name="message-name" class="form-control" id="name" required>
              </div>

              <div class="col-md-6 mb-3">
                <label for="message-email" class="form-label">Your Email</label>
                <input name="message-email" type="email" class="form-control" aria-describedby="emailHelp" required>
              </div>
            </div>

            <div class="mb-3">
              <label for="message-subject">Subject</label>
              <input type="text" class="form-control" name="message-subject" id="subject">
            </div>

            <div class="mb-3">
              <label for="message-body">Message {{ message_name }}</label>
              <textarea class="form-control" name="message-body" rows="10" required></textarea>
            </div>
            
            <div class="text-center"><button type="submit" class="btn btn-primary">Send Message</button></div>

          </form>
        </div>

      </div>

    </div>
</section><!-- End Contact Section -->
