{% block hero %}

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Marcel Jacquot</h1>
      <p><span class="typed" data-typed-items="Back-End, Python, Django, Ruby on Rails, Microsoft VBA"></span> Developer</p>

      {% if messages %}
        <div class="alert alert-success" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        </div>
      {% endif %}
    
    </div>
  </section><!-- End Hero -->

{% endblock %}